* {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

/* left side bar */
aside.left-sidebar {
  background-color: #343f53;
  color: #FFF;
  grid-row: 1/6;
}

/* nav search bar */
nav {
  display: flex;
  border-bottom: 2px solid #e4e6ea;
  grid-column: 2/7;
  height: 66px;
  justify-content: space-between;
  background-color: #FFF;
}

ul {
  display: flex;
}

li.expand-carrot,
li.expand-menu {
  font-size: 20px;
}

#searchbar {
  width: 100%;
  font-size: 20px; 
  color: #9aa3b0;
  padding: 22px 0px 0px 20px;
}

input {
  border: none;
  font-size: 18px;
  width: 90%;
  color: #a0a9b8;
  padding-left: 8px;
}

ul.login-cal-nav {
  display:flex;
  list-style: none;
  border-right: 2px solid #e4e6ea;

}

li.expand-carrot, li.expand-menu,
li.login, li.cal, li.nav {
  display: inline-block;
}

li.login, li.cal, li.nav {
  font-size: 30px; 
}

.expand-section:hover {
  background-color: #009ffe;
  cursor: pointer;
}

.expand-section:hover .hover{
  color: #fff;
}

.fa-user-circle:hover,
.fa-calendar-plus:hover,
.fa-th:hover {
  color: #fff;
  background-color: #009ffe;
  cursor: pointer;
}

.fa-caret-left {
  color: #009ffe;
  padding: 23px 3px 22px 16px;
}

.fa-bars {
  color: #7a8495;
  padding: 23px 20px 22px 0px;
  border-right: 2px solid #e4e6ea;
} 

.fa-search {
  color: #9aa3b0;
}

.fa-user-circle,
.fa-calendar-plus,
.fa-th {
  color: #9aa3b0;
  padding: 18px;
  border-left: 2px solid #e4e6ea;
}

/* page header and tabs */
.main-page-body {
  /*margin: 10px;*/
  grid-column: 2/7;
}

header.header {
  display: flex;
  justify-content: space-between;
  height: 148px;
  padding-left: 39px;
}

h2 {
  color: #4e505f;
  padding: 36px 0px 12px 0px;
  font-weight: 400;
}

.city-info,
.fa-map-marker-alt,
.fa-circle {
  color: #8894a6;
  display: inline-block;
  font-size: 15px;
}

.fa-map-marker-alt {
  padding: 0px 4px 0px 8px;
}

.fa-circle {
  font-size: 5px;
}

.bullet {
  padding: 0px 5px;
}

.preview-link {
  color:#009ffe;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  margin: 52px 24px 0px 0px;
}

.job-buttons {
  border: 2px solid #e4e6ea;
  border-radius: 25px;
  height: 15px;
  padding: 8px;
  margin: 0px 12px 0px 0px;
  font-size: 13px;
  width: 65px;
}

section.open {
  padding: 8px 6px 8px 12px;
}

i.fa-circle {
  font-size: 13px;
  color: #6fcf3b;
  padding-left: 5px;
}

span.button-text {
  font-weight: 700;
  color: #8894a6;
  font-size: 11px;
}

section.bookmark,
section.edit,
section.delete {
  border: 2px solid #e4e6ea;
  border-radius: 100%;
  height: 13px;
  font-size: 13px;
  color: #8894a6;
  width: 13px;
}

i.fa-bookmark {
  padding-left: 2px;
}

i.fa-pencil-art,
i.fa-trash-alt {
  padding-left: 1px;
}

/* nav tabs */
.nav-tabs {
  list-style: none;
  color: #8894a6;
  margin-left: 39px;
}

.tab {
  font-weight: 700;
  font-size: 12px;
  margin-right: 40px;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

.tab:hover {
  border-bottom: 3px solid #009ffe;
  cursor: pointer;
}


/* graphs and tables */
article.data-section {
  background-color: #ebf2f6;
  border-top: 2px solid #e4e6ea;
  border: solid, 4px, grey;
  grid-column: 2/7;
  height: 360px;
}

.all-graphs-only {
  display: flex;
}

.chart-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  padding-left: 20px;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
  padding-top: 20px;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #d6e3ec;
  stroke-width: 2.2;
}

.circle {
  fill: none;
  stroke-width: 2.2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.teal .circle {
  stroke: #00BEC4;
}

.circular-chart.blue .circle {
  stroke: #009ffE;
}

.circular-chart.purple .circle {
  stroke: #BD59AE;
}

.number {
  fill: #666;
  font-family: Roboto;
  font-size: 8px;
  text-anchor: middle;
}

.text {
  fill: #666;
  font-family: sans-serif;
  font-size: 2.5px;
  text-anchor: middle;
}

.table {
  width: 40%;
  height: 55%;
  padding: 15px 0px 0px 40px;
}

.total-views-button {
  border: 2px solid #e4e6ea;
  border-radius: 25px;
  height: 15px;
  padding: 8px;
  margin: 0px 12px 0px 0px;
  font-size: 13px;
  width: 154px;
  background-color: #FFF;
}

/* main job advertisement body */
main.main {
  background-color: #ebf2f6;
  border: solid, 1px, grey;
  grid-column: 2/5;
  height: 500px;
}

/* social media right side */
aside.social-media {
  background-color: #ebf2f6;
  border: solid, 1px, grey; 
  color: #6e798c; 
  grid-column: 5/7;
  height: 500px;
}

