* {
  font-family: Roboto, sans serif;
  margin: 0px;
  padding: 0px;
}

body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /*grid-gap: 2px;*/
}

/* left side bar */
aside.left-sidebar {
  background-color: #343f53;
  color: #FFF;
  grid-row: 1/6;
}

/* header search bar */
header {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  border-bottom: 2px solid #e4e6ea;
  grid-column: 2/7;
  grid-row: 1/3;
  height: 70px;
}

#expand {
  width: 5%;
  font-size: 18px; 
  color: #9aa3b0;
  border-right: 2px solid #e4e6ea;
  padding: 25px 0px 0px 15px;
}

#searchbar {
  width: 69%;
  font-size: 18px; 
  color: #9aa3b0;
  padding: 25px 20px;
}

input {
  border: none;
  font-size: 18px;
  width: 90%;
  color: #a0a9b8;
  padding-left: 8px;
}

.icon1,
.icon2,
.icon3 {
  font-size: 30px; 
  border-left: 2px solid #e4e6ea
}

#expand:hover,
.icon1:hover,
.icon2:hover,
.icon3:hover {
  background-color: #009ffe;
}

.fas:hover,
.far:hover {
  color: #fff;
}

.fa-caret-left {
  color: #009ffe;
}

.fa-bars {
  color: #7a8495
}

.fa-search {
  color: #9aa3b0;
}

.fa-user-circle,
.fa-calendar-plus,
.fa-th {
  color: #9aa3b0;
  padding: 18px;
}

/* page nav tabs */
nav.nav {
  grid-column: 2/7;
  height: 180px;
  border-bottom: 2px solid #e4e6ea;
}

/* graphs and tables */
article.graphs {
  background-color: #ebf2f6;
  border: solid, 4px, grey;
  grid-column: 2/7;
  height: 360px;
}

/* main job advertisement body */
main.main {
  background-color: #ebf2f6;
  border: solid, 1px, grey;
  grid-column: 2/5;
  height: 500px;
}

/* social media right side */
aside.social-media {
  background-color: #ebf2f6;
  border: solid, 1px, grey; 
  color: #6e798c; 
  grid-column: 5/7;
  height: 500px;
}

